<p class="card-text fw-bold">Filter photos:</p>
<form (ngSubmit)="applyFilters()" [formGroup]="filters">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <label for="title" class="form-label">Photo Title</label>
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <label for="albumTitle" class="form-label">Album Title</label>
      <input type="text" class="form-control" id="albumTitle" formControlName="albumTitle">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <label for="albumUserEmail" class="form-label">User Email</label>
      <input type="email" class="form-control" id="albumUserEmail" formControlName="albumUserEmail">
    </div>
  </div>
  <button type="submit" class="btn btn-primary me-2">Filter</button>
  <button (click)="clearFilters()" class="btn btn-secondary">Clear</button>
</form>
<hr />
@if (error) {
  <p class="text-danger">An unexpected error has occurred. Please try again later.</p>
}
@if (loading) {
  <div class="text-center">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
}
@else {
  @for (photo of photos; track photo.id) {
    <div class="row">
      <div class="col-auto">
        <a [href]="photo.id">
            <img [src]="photo.thumbnailUrl" alt="Photo">
        </a>
      </div>
      <div class="col-auto">
        <p><b>Title: </b><a [href]="photo.id">{{photo.title}}</a></p>
        <p><b>Album: </b>{{photo.album.title}}</p>
        <p><b>User: </b>{{photo.album.user.name}}</p>
        <p><b>Email: </b>{{photo.album.user.email}}</p>
      </div>
    </div>
    <hr />
  }
  <p>@if (offset > 0){<a (click)="previousPage()">&lt; Previous</a> | }Page {{1 + offset/limit}}@if(photos.length === limit){ | <a (click)="nextPage()">Next &gt;</a>}</p>
  <div class="row">
    <div class="col-auto">
        Photos per page:
    </div>
    <div class="col-auto">
        <div class="w-100p">
            <ng-select [items]="limits" (change)="changeLimit($event)" [(ngModel)]="limit" [clearable]="false"></ng-select>
        </div>
    </div>
  </div>
}
